<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <% if (user) { %>
    <h1><%= greeting %>, <%= user.firstname %></h1>
    <% } %> <% if (!user) { %>
    <h1>Login or Register</h1>
    <a href="/register">Register</a>
    <a href="login">Login</a>
    <% } else { %>
    <a href="create-post">New Post</a>
    <% }%> <% if (user && user.membership === false) { %>
    <a href="/membership">Become a member</a>
    <% } %>
    <h2>Posts</h2>
    <div>
      <% if (posts === undefined || posts.length === 0) { %>
      <p>Well that's embarassing. There are no posts to display yet</p>
      <% } else { %> <% posts.forEach((post) => { %>
      <div>
        <% if (user && user.membership || user && user.admin === true) { %>
        <p><%= post.name %></p>
        <% } else { %>
        <p>Club Member</p>
        <% } %>
        <p><%= post.text %></p>
        <% if (user && user.membership || user && user.admin === true) { %>
        <p><%= post.timestamp %></p>
        <% } %> <% if (user && user.admin === true) { %>
        <form action="delete-post/<%=post.id%>" method="post">
          <button type="submit">Delete Post</button>
        </form>
        <% } %>
      </div>
      <% }); %> <% } %>
    </div>
    <footer>
      <% if (user && user.admin !== true) { %>
      <a href="/admin">Admin Login</a>
      <% } %>
    </footer>
  </body>
</html>
